<h1 id="main-title">Waste no more food</h1>

<img src="https://source.unsplash.com/4J059aGa5s4/1600x600">

<section class="overview-features">
  <div id="features-title">
    <div>
      <h3>Do you want to use that leftover zucchini, but you don't want to make the same recipe again?</h3>
    </div>
    <div>
      <h4>We get that. That's boring. So we can help!</h4>
    </div>
  </div>
  <div id="features">
    <div id="feature-1">
      <h5>Inventory your leftover food</h5>
      {{!-- Image here of the fridge profile --}}
    </div>
    <div id="feature-2">
      <h5>Find recipes based on the ingredients you want to cook with</h5>
      {{!-- image here of the recipes page --}}
    </div>
    <div id="feature-3">
      <h5>Choose your recipe and receive a list of the ingredients you might be missing</h5>
      {{!-- image here of the shoppinglist --}}
    </div>

  </div>
  <div id="get-started">
      <h4>So let's get started!</h4>
  </div>  
</section>