<h1>Fridge of {{currentUser.name}}</h1>

<div>
  <p>Add ingredients to your fridge:</p>
  <input id="ingredient-input" type="text" placeholder="Search.." name="search">
  <button id="fridge-add" class="btn btn-warning">Add</button>
</div>

<div>
  <h3>Ingredients I have at home:</h3>
  <ul id="ingredient-list">
  {{#each ingredients}}
          <span class="ingredient">
          <li class="ingredient-name">{{name}}</li>
          <button id="btn-delete" class="btn btn-danger">Remove</button>
          </span>
  {{/each}}
  </ul>
</div>

<div>
<a href="/recipes" class="btn btn-warning">Find inspiration</a>
<a href="/newrecipe" class="btn btn-warning">Create your own recipe</a>
</div>