<h2>Shopping list</h2>
<ul id="shoppinglist">
  {{#each ingredients}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>

<a id="download_link" download="shoppinglist.txt" href="" >Download shopping list!</a>


