<h2>Shopping list</h2>
<ul id="shoppinglist">
  {{#each ingredients}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>

<a id="download_link" href="javascript:window.print();" >Download shopping list!</a>


