#fridge {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  min-height: 37vh;
}


#column-title {
  margin-bottom: 5%;
}

#ingredient-list {
  width: 60%;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  margin: 2%;
  align-items: center;
}

.ingredient-name {
  font-size: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#favourite-title {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  font-family: 'Liu Jian Mao Cao';
  font-size: xx-large;
  color: rgb(26, 92, 140);
  font-weight: bold;
  padding-top: 20px;
  border-top: solid 2px rgba(26, 92, 140, 0.5);
}

#inspiration-button, #create-button {
  margin: 0 3%;
}

.favourite-recipes-list {
  min-height: 20vh;
}

.hero-fridge {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/jason-briscoe-GliaHAJ3_5A-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
}

.btn-danger{
  padding: 0px 5px;
  background-color: chocolate;
  border-color: chocolate;
  font-size: 0.75rem
}

