.card-body h5,
h6 {
  color: rgb(26, 92, 140);
  font-weight: bold;
}

.detail {
  width: 100%;
  height: 50vw;
    object-fit: cover;
}

.card-title {
  font-family: 'Caveat';
  font-size: 1.5rem;
}

.detail-title{
  font-size: 2.5rem;
}