.card-body h5,
h6 {
  color: rgb(26, 92, 140);
  font-weight: bold;
  margin-bottom: 20px;
}

.detail {
  width: 100%;
  height: 50vw;
    object-fit: cover;
}

.card-title {
  font-family: 'Caveat';
  font-size: 1.5rem;
}

.detail-title{
  font-size: 2.5rem;
}

#card-description{
  margin-top: 30px;
}

#duration{
  color: rgb(26, 92, 140);
  font-weight: bold;
}

#avail-ingredients {
  min-height: 10vh;
}
